body {
    margin:0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #000;
    font-family: roboto condensed;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

img {
	max-width: 100%;
	height: 250px;
}

h1{
    font-family: roboto light;
    margin-bottom: 30px;
}


ul{  
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
}

h2{
    margin-top: 50px;
    font-family: roboto thin;
    font-size: 17px;
    text-transform: uppercase;
}

/* header */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 3;
    margin-bottom: 20px;

}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 10px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu toggle */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.login{
    float:left;
}


/* CONTAINER */

.date{
    margin: 0;
    font-family: roboto light;
}

div.container {
    text-align: center;
}

.news{
    margin-bottom: 40px;
}

ul#nav a{
    font-family: roboto thin;
}

.trier {
    margin: 0;
    font-family: roboto;
    text-transform: uppercase;
    font-size: 22px;
}



div.container {
    text-align: center;
    position: relative;
    padding-bottom: 30px;
}    

.artistes{
    padding: 30px;
}


.artistealbum{  
    font-family: roboto thin;

}

.icones{
    height: 25px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.titrealbum{
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
}

.infos{
    color: black;
    font-family: roboto medium;
}

.infos2{
    font-family: roboto light;
}
/* FOOTER */

footer {
    background:#191919;
    color:#fff;
    margin:0;
    @import 'https://fonts.googleapis.com/css?family=Open+Sans';
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
}



footer p {
    margin: 0;
    text-transform: uppercase;
}


/* Misc CSS */
.clearfix {
  &:before,
  &:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both;
  }
}

html {
  height: 100%;
}
    
body {
    min-height: 100%;
    margin: 0;
    padding-bottom: 50px;
    position: relative;
}

footer {
    position: absolute;    
    bottom: 0; 
    left: 0; 
    right: 0
    }

ul#nav a{
    float: left;
    font-family: roboto thin;
}

ul#nav li{
    display: inline-block;
    padding: 5px;
}

.news2{
    margin: 25px;
}

.paroles{
    text-align: justify;
    padding: 4%;
    background-color: #eaeaea;
}

.description{
    text-align: justify;
    padding: 4%;
    margin-top: 20%;
    background-color: #eaeaea;
}

.infoChanson{
    font-family: roboto medium;
}

.chansonalbum{
    float: left;
    width: 50%;
    font-family: roboto thin;
}

.chansonalbum a{
    font-family: roboto thin;
}

.titredescription{
    font-family: roboto medium;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
}

.titreparoles{
    font-family: roboto medium;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
}


.titrechanson{
    font-family: roboto thin;
    text-transform: uppercase;
    margin: 3%;
}

    



/* Desktop & Tablet 48em = 768px 60em = 960px */

@media (min-width: 60em) {
  .header li {
    float: left;
  }
    
h2{
    font-size: 30px;
}

.login{
    float:left;
}
    
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
    

ul#nav li{
    display: inline-block;
    padding: 30px;
}
    
    li.login{
        float: right;
    }

.news{
    float: left;
    margin-left: 13%;
}
    
.news2{
    float: left;
    margin-left: 3%;
}
  
    
.section2{
    position: absolute;
    width: 100%;
    margin-top: 55%;
}
    
.div1{
    float: left;
    width: 50%;  
}    
    
.div2{
    float: left;
    width: 50%;
}   
    

.div3{
    width: 100%;
    position: absolute;
    margin-top: 4%;
    background-color: #ececec;
}

.imgalbum{
    height: 500px;
    }
    
.imgalbum2{
    height: 200px;
}

.chansons{
    margin-top: 45%;
        width: 100%;
    position: absolute;
    background-color: #ececec;
}
    
.section5    {
    position: absolute;
    width: 100%;
    margin-top: 78%;
}
    

.chansonalbum{
    width: 100%;
    margin-bottom: 1%;
}

    .description{
        text-align: center;
    }
    
    
.description{
    padding: 1%;
    margin-top: 7%;
    }
    
}

