body {
    margin:0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #000;
    font-family: roboto condensed;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

img {
	max-width: 100%;
	height: 250px;
}

h1{
    font-family: roboto light;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.5em;
}


ul{  
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
}

h2{
    margin-top: 50px;
    font-family: roboto thin;
    font-size: 17px;
    text-transform: uppercase;
}

/* header */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 3;
    margin-bottom: 20px;

}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 10px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu toggle */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
float: right;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100%;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}



/* CONTAINER */

.date{
    margin: 0;
    font-family: roboto light;
}


.news{
    margin-bottom: 40px;
}

ul#nav a{
    font-family: roboto thin;
}

.trier {
    margin: 0;
    font-family: roboto;
    text-transform: uppercase;
    font-size: 22px;
}



div.container {
    text-align: center;
    position: relative;
    padding-bottom: 15%;
}    

.artistes{
    padding: 30px;
}


.artistealbum{  
    font-family: roboto thin;

}

.icones{
    height: 25px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.iconesadmin{
    height: 100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.titrealbum{
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
}

#audioChanon{
    display: none;
}

#labelAudioChanson{
    padding:10px;
    background: red;
    display: table;
    color:#fff;
}

.infos{
    color: black;
    font-family: roboto medium;
    background-color: white;
}

.infos2{
    font-family: roboto light;
}
/* FOOTER */

footer {
    background:#191919;
    color:#fff;
    margin:0;
    @import 'https://fonts.googleapis.com/css?family=Open+Sans';
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
}



footer p {
    margin: 0;
    text-transform: uppercase;
}


/* Misc CSS */
.clearfix {
  &:before,
  &:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both;
  }
}

html {
  height: 100%;
}
    
body {
    min-height: 100%;
    margin: 0;
    padding-bottom: 50px;
    position: relative;
}

.main{
    margin-bottom: 5%;
}

.main2{
    margin-bottom: 2%;
}

.main3{
    margin-bottom: 10%;
}


footer {
    position: absolute;    
    bottom: 0; 
    left: 0; 
    right: 0
    }

ul#nav a{
    float: left;
    font-family: roboto thin;
}

ul#nav li{
    display: inline-block;
    padding: 5px;
}

.news2{
    margin: 25px;
}

.paroles{
    text-align: justify;
    padding: 4%;
    background-color: #eaeaea;
}

.description{
    text-align: justify;
    margin-top: 5%;
}

.infoChanson{
    font-family: roboto medium;
}

.chansonalbum{
    float: left;
    width: 50%;
    font-family: roboto thin;
}

.chansonalbum a{
    font-family: roboto thin;
}

.titredescription{
    font-family: roboto medium;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
}

.titreparoles{
    font-family: roboto medium;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
}


.titrechanson{
    font-family: roboto thin;
    text-transform: uppercase;
    margin: 3%;
}

    
.logaccueil{
        position: relative;
    padding-bottom: 30px;
    margin-top: 25%;
    margin-right: 2%;
    margin-left: 2%;
}

.bouton {
	padding:6px 0 6px 0;
	font-family: roboto black;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	width:100px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
    margin-top: 2%;
}

.bouton2 {
	padding:6px 0 6px 0;
	font-family: roboto black;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	width:100px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
}

.datenaissance{
    font-family: roboto thin;
    font-weight: bold;
}

header {
    grid-area : hd;
}
footer {
    grid-area : ft;
}
main {
    grid-area : main;
}
maing {
    grid-area : maing;
}
maind {
    grid-area : maind;
}

similaires {
    grid-area : similaires;
}

.chansons{
    background-color: #ececec;
}

.descriptionchanson{
        text-align: center;
    }

ol{
    list-style-type: none;
    padding: 0;
}

.iconeplaylist{
    height: 25px;
    margin-left: 2%;
    margin-right: auto;
    position: absolute;
}   

.playlist{
    background-color: black;
    color: white;
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.liste{
    margin-top: 10%;
}

#gridp {
    display: grid;
    grid-gap : 50px;
    margin-bottom: 15%;
}

.ajouterchansons{
    margin-bottom: 10%;
}

.form{
	font-family: roboto black;
	color:#555;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
    width: 50%;
}

#gridadmin {
                display: grid;
                margin-top: 5%;
                margin-bottom: 10%;
                grid-template-columns: 1fr; 
                grid-row-gap: 35px;
                grid-template-areas:
                        "hd"
                        "main"
                        "ft";
}    

#gridtab{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 5%;
    grid-template-areas:
                "hd"
                "main"
                "ft";
} 

.iconeajouter{
    height: 25px;
    margin-left: 25%;
    margin-right: auto;
    position: absolute;
}   

.ajouter{
    color: white;
}


label
{
    float: left;
}

#gridform{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 5%;
    grid-template-areas:
                "hd"
                "main"
                "ft";
} 

#gridajout{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-template-areas:
                "hd"
                "main"
                "ft";
    margin-right: 2%;
    margin-left: 2%;
}      


#gridsupp{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin-bottom: 10%;
    grid-template-areas: "hd"
 "main"
 "ft";
}
    
    
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

.containerform {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
    
#contact {
  background: #F9F9F9;
  padding: 25px;
  margin-bottom: 10%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0069d9;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
    


#player {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
    margin: auto;
}
#player img {
  position: absolute;
  left: 15px;
  top: -25px;
  border-radius: 10px;
    height: auto;
}
#player .player-song {
  width: 370px;
  height: 100%;
    margin: auto;
}
#player .player-song .title {
  color: #333;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
}
#player .player-song .artist {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
#player .player-song .timestamps {
  width: calc(100% - 15px);
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
}
#player .player-song .actions {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#player .player-song .actions .next, #player .player-song .actions .prev {
  cursor: pointer;
}
#player .player-song .actions i {
  font-size: 32px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  color: #bbbbbb;
  transition: .1s;
}
#player .player-song .actions i:hover {
  color: #888888;
  transition: .1s;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: calc(100% - 15px);
  height: 6px;
  border-radius: 50px;
  margin-top: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 50px;
}

progress[value]::-webkit-progress-value {
  border-radius: 50px;
  background-color: #333DDD;
}

.play-button {
  height: 16px;
  width: 16px;
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}
.play-button:hover .left, .play-button:hover .right {
  background-color: #888888;
}

.left {
  height: 100%;
  float: left;
  background-color: #bbbbbb;
  width: 36%;
  transition: all 0.25s ease;
  overflow: hidden;
}

.triangle-1 {
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.triangle-2 {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.triangle-1,
.triangle-2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  border-right: 16px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.right {
  height: 100%;
  float: right;
  width: 36%;
  background-color: #bbbbbb;
  transition: all 0.25s ease;
}

.paused .left {
  width: 50%;
}

.paused .right {
  width: 50%;
}

.paused .triangle-1 {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.paused .triangle-2 {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}



.btngerer{
    color: white;
    padding: 1%;
}
    
td{
        padding: 1%;
    }

.t{
    margin: 5%;
    display: block;
    padding-right: 5%;
}

tbody{
    background-color: white;
    }

.center{
    margin: 1% auto;
    width: 50%;
    text-align: center;
    position: relative;

}

.buton{
    color: white;
    background: black;
    font-size: 1.1em;
    text-decoration: none;
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 500ms all ease-ot;
    -moz-transition: 500ms all ease-out;
    -o-transition: 500ms all ease-out;
    transition: 500ms ease-out;
    padding-top: 1em;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 1em;
}

.buton2{
    color: white;
    background: black;
    font-size: 1.1em;
    text-decoration: none;
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 500ms all ease-ot;
    -moz-transition: 500ms all ease-out;
    -o-transition: 500ms all ease-out;
    transition: 500ms ease-out;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 5%;
}

.hover::after,.hover::before,
.text::before,.text::after{
  content:'';
  box-sizing:border-box;
  position:absolute;
  background:white;
  -webkit-transition:500ms all eases ;
  -moz-transition:500ms all ease-out ;
  -o-transition:500ms all ease-out ;
  transition: 500ms all ease-out;
}

.hover::after{
  right:0;
  bottom:0;
  width:0;
  height:3px;
}

.hover::before{
  right:0;
  bottom:0;
  height:0;
  width:3px;
}

.text::after{
  top:0;
  left:0;
  width:0px;
  height:3px;
}

.text::before{
  top:0;
  left:0;
  height:0px;
  width:3px;
}

.buton:hover .hover::after{
  width:100%;
  height:3px;
}

.buton:hover .text::after{
  width:100%;
  height:3px;
}

.buton:hover .text::before{
  height:100%;
  width:3px;
}

.buton:hover .hover::before{
  height:100%;
  width:3px;
}

.buton:hover .text,
.buton:hover .fa-home{
  color:white;
}

.buton:hover .fa-plus-circle{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 300ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }	
}




/* Desktop & Tablet 48em = 768px 60em = 960px */

@media (min-width: 64.063em) {
  .header li {
    float: left;
  }
    
.form{
	font-family: roboto black;
	color:#555;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
    width: 25%;
}
    
h2{
    font-size: 30px;
}

.login{
    float:left;
}
    
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
    

ul#nav li{
    display: inline-block;
    padding: 30px;
}
    
    li.login{
        float: right;
    }


    
.news2{
    float: left;
    margin-left: 3%;
}
  
    
.section2{
    position: absolute;
    width: 100%;
    margin-top: 55%;
}
    
.div1{
    float: left;
    width: 50%;  
}    
    
.div2{
    float: left;
    width: 50%;
}   
    

.div3{
    width: 100%;
    position: absolute;
    margin-top: 4%;
    background-color: #ececec;
}

.imgalbum{
    height: 500px;
    }
    
.imgalbum2{
    height: 200px;
}

    
.section5    {
    position: absolute;
    width: 100%;
    margin-top: 78%;
}
    

.chansonalbum{
    width: 100%;
    margin-bottom: 1%;
}

.description{
        text-align: center;
    }
    
    
.logaccueil{
    margin-top: 15%;
}
    
.iconeplaylist{
    height: 25px;
    margin-left: 1%;
    margin-right: auto;
    position: absolute;
}   

.playlist{
    background-color: black;
    color: white;
    padding-left: 7%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}
    
.iconeajouter{
    height: 25px;
    margin-left: 6%;
    margin-right: auto;
    position: absolute;
}   

.ajouter{
    background-color: black;
    color: white;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.liste{
    text-align: center;
    margin-top: 0%;
    }
    
.listeplaylist{
    font-family: roboto thin;
    font-size: 1.5em;
}

    
#grid1 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap : 20px;
                grid-template-areas:
                        "hd hd"
                        "maing maind"
}

#grid2 {
                display: grid;
                grid-template-columns: 1fr;
                grid-row-gap : 30px;
                grid-template-areas:
                        "chansons"
                        "similaires"
                        "ft ft";
}
    
#gridnouveautes {
                display: grid;
                grid-template-columns: 3fr 3fr 3fr; 
                grid-row-gap: 35px;
                grid-template-areas:
                        "hd"
                        "main"
                        "ft";
}    

#gridartistes {
                display: grid;
                grid-template-columns: 3fr 3fr 3fr; 
                grid-row-gap: 35px;
                margin-bottom: 3%;
                grid-template-areas:
                        "hd"
                        "main"
                        "ft";
} 
    
#gridp {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap : 20px;
                margin-bottom: 5%;
                grid-template-areas:
                        "hd hd"
                        "maing maind"
}    
    
.similaires {
                display: grid;
                grid-template-columns: 3fr 3fr 3fr; 
                grid-row-gap: 35px;
                margin-bottom: 3%;
                grid-template-areas:
                        "hd"
                        "main"
                        "ft";
}  

#grid5 {
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-gap : 20px;
                grid-template-areas:
                        "hd hd"
                        "maing maind"
}
    
#gridadmin {
                display: grid;
                grid-template-columns: 10fr 2fr 10fr; 
                grid-row-gap: 35px;
                grid-template-areas:
                        "hd"
                        "main"
                        "ft";
}  
#gridajouter {
                display: grid;
                grid-template-columns: 1fr; 
                margin-bottom: 3%;
                grid-template-areas:
                        "hd"
                        "main"
                        "ft";
}  

#gridtab{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 5%;
    margin-bottom: 3%;
        grid-template-areas:
                "hd"
                "main"
                "ft";
    margin-left: 20%;
    margin-right: 20%;
}   
    
.iconesadmin{
    height: 100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

    #player {
  position: relative;
  z-index: 2;
  width: 600px;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
    margin: auto;
}
    
    div.container {
    padding-bottom: 0%;
} 
    
.center{
    margin: 1% auto;
    width: 25%;
    text-align: center;
    position: relative;

}
    
    .t{
    display: inline-block;
    margin-bottom: 2%;
    }
     

    .buton2{
color: white;
    background: black;
    font-size: 1.1em;
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 500ms all ease-ot;
    -moz-transition: 500ms all ease-out;
    -o-transition: 500ms all ease-out;
    transition: 500ms ease-out;
    padding-top: 1em;
    padding-left: 5%;
    padding-right: 5%; 
    padding-bottom: 1em;
    }
}
    th{
    font-family: roboto thin;
    text-transform: uppercase;
    font-size: 20px;
    }  

